<div class="container">

	<div>
		<h1>Login</h1>
		<a class="btn btn-block btn-social btn-lg btn-github" href="/auth/github">
			<span class="fa fa-github"></span>
			Sign in with Github
		</a>
    <form class="" action="/auth/local" method="get">
      <label for="email">Email: </label>
      <input type="text" name="email" value=""></input>
      <label for="password">Password: </label>
      <input type="text" name="password" value=""></input>
      <button type="submit" name="button">Submit</button>
    </form>
    <!-- <a class="btn btn-block btn-social btn-lg btn-github" href="/auth/github">
			<span class="fa fa-github"></span>
			Sign in with Github
		</a> -->
	</div>

</div><!-- /.container -->
